option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: FindABook/wsgi.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: FindABook.settings
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/": "static_root/"

container_commands:
  01_react:
    command: "npm install && npm run build"
    ignoreErrors: false
  02_migrate:
    command: "django-admin.py migrate"
    leader_only: true
  03_makesuper:
    command: "source /opt/python/run/venv/bin/activate && python ./manage.py makesuper"
  04_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python ./manage.py collectstatic --noinput"   