commands:
  01_node_install:
    # run this command from /tmp directory
    cwd: /tmp
    # don't run the command if node is already installed (file /usr/bin/node exists)
    test: '[ ! -f /usr/bin/node ] && echo "node not installed"'
    # install from epel repository
    # flag -y for no-interaction installation
    command: 'yum install -y nodejs --enablerepo=epel'

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: FindABook/wsgi.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: FindABook.settings
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/": "static_root/"

container_commands:
  01_react:
    command: "npm install && npm run build"
    ignoreErrors: false
  02_migrate:
    command: "django-admin.py migrate"
    leader_only: true
  03_makesuper:
    command: "source /opt/python/run/venv/bin/activate && python ./manage.py makesuper"
  04_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python ./manage.py collectstatic --noinput"   