.textbookDisplayBlock {
  height: 800px;
  width: 800px;
  color: inherit;
  display: inline-block;
  margin-top: 20px;
  margin-left: 450px;
  position: relative;
}
.filterResults {
  background-color: #f4f8f9;
  color: #000000;
  height: 623px;
  width: 300px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  margin-left: 50px;
  display: inline-block;
  position: absolute;
  border-radius: 25px;
}

.filterResultsHeader {
  position: relative;
  text-align: center;
  top: 20px;
}

.sameUniCheckbox {

  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  height: 20px;
  width: 20px;
  margin-right: 10px;
  display: inline-block;
}

.city {
  background-color: #c4c4c4;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  display: inline-block;
  width: 70px;
  height: 40px;
  font-size: 24px;
  margin-right: 10px;
}
.state {
  background-color: #c4c4c4;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  display: inline-block;
  width: 70px;
  height: 40px;
  font-size: 24px;
  margin-left: 10px;


}

.lowerPrinceRangeInput {
  background-color: #c4c4c4;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  display: inline-block;
  width: 70px;
  height: 40px;
  font-size: 24px;
  margin-right: 10px;
}

.upperPriceRangeInput {
  background-color: #c4c4c4;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  display: inline-block;
  width: 70px;
  height: 40px;
  font-size: 24px;
  margin-left: 10px;

}

.firstFilterGap {
  margin-top: 50px;
}

.secondFilterGap {
  margin-top: 50px;
}

.spacingFromHeader {
  margin-top: 75px;
}

.dropdown {

}

.clearFilterBtn {
  background-color: #84A4F4;
    color: black;
    font-weight: bold;
    font-style: normal;
    height: 50px;
    width: 150px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    margin-left: 10px;
    margin-right:10px;
  border-radius: 25px;
}

.filterText{
  display: inline-block;
}

.goBtn {
  background-color: #84A4F4;
    color: black;
    font-weight: bold;
    font-style: normal;
    height: 35px;
    width: 35px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    margin-left: 20px;
    margin-right:10px;
  border-radius: 7px;

}

.sortByBtn {
  margin-left:400px;
}

#sidebar{
  text-align: center;
}