.checkoutBtn {
    background-color: #84A4F4;
    color: black;
    font-weight: bold;
    font-style: normal;
    height: 25px;
    width: 75px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
   margin-bottom: 10px;
}

.checkoutBox {
    height: 450px;
    width: 250px;
    background-color: #F4F8F9;
    display: inline-block;
    font-size: 18px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 20px;
    color: black;
    text-align:center;
}

.Cart {
    display: flex;
    padding: 30px;
    justify-content: space-between;
}

.CartItems{
    padding: 10px;
    width: 78%;
}

.Sidebar{
    padding: 10px;
    width: 20%;
    background-color: #f4f8f9;
    height: 500px;

}

.TextbookCard{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f8f9;
    padding: 20px;
    margin-bottom: 20px;
}

.TextbookImage {
    width: 10%;
}

.TextbookInfo {
    width: 75%;
}

.RemoveButton{
    height: 40px;

}

.PageLabel{
    padding-left: 30px;
    padding-top: 15px;
}

