.hoverLinkBox {
  background-color: #c4c4c4;
  height: 150px;
  width: 120px;
  color: black;
  font-weight: bold;
  font-size: 24px;
  transition: all 1s ease;
  text-align: center;
  position: absolute;
  z-index: 100;
}

.profileLink {
  margin-top: 30px;
  color: inherit;
  text-decoration: none;
}

.profileLink:hover {
  opacity: 0.5;
  transition: all 1s ease;
  text-decoration: none;
  color: inherit;
}

.cartLink {
  color: inherit;
  text-decoration: none;
}

.cartLink:hover {
  opacity: 0.5;
  transition: all 1s ease;
  text-decoration: none;
  color: inherit;
}

.messagesLink {
  color: inherit;
  text-decoration: none;
}

.messagesLink:hover {
  opacity: 0.5;
  transition: all 1s ease;
  text-decoration: none;
  color: inherit;
}
