.hoverLinkBox {
    background-color: #f4f8f9;
    height: 150px;
    width: 120px;
    color: black;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    z-index: 5;
    border-radius:15px;
}

.profileLink {
    margin-top: 30px;
    color: inherit;
    text-decoration: none;
}

.profileLink:hover {
    opacity: 0.5;
    transition: all 1s ease;
    text-decoration: none;
    color: inherit;
}

.cartLink {
    color: inherit;
    text-decoration: none;
}

.cartLink:hover {
    opacity: 0.5;
    transition: all 1s ease;
    text-decoration: none;
    color: inherit;
}

.messagesLink {
    color: inherit;
    text-decoration: none;

}

.messagesLink:hover {
    opacity: 0.5;
    transition: all 1s ease;
    text-decoration: none;
    color: inherit;
}