.Messages {
  margin: 0px 50px;
  overflow: auto;
}

.conversationsContainer a:hover {
  text-decoration: none;
  cursor: pointer;
}

.conversationsContainer:hover {
  size: 40%;
}
.messagesBox {
  background-color: #c4c4c4;
  height: 500px;
  width: 1250px;
  margin-top: 100px;
  margin-left: 100px;
  text-align: center;
}
.messagesBox {
  background-color: #c4c4c4;
  height: 500px;
  width: 1250px;
  margin-top: 100px;
  margin-left: 100px;
  text-align: center;
}
