.createAccountBlock {
    padding: 60px;
}

.inputField {
    background-color:inherit;
    width: 250px;
    height: 35px;
    font-size: 18px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
}


.continueBtn {
   background-color: #84A4F4;
    color: black;
    font-weight: bold;
    font-style: normal;
    height: 35px;
    width: 85px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    border-radius: 25px;
}

.cancelBtn{
    background-color: #ca521f;
    color: black;
    font-weight: bold;
    font-style: normal;
    height: 35px;
    width: 85px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    border-radius: 25px;
}

.inputLbl{
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    margin-right:10px;
}

.Registration{
    text-align: center;
    background-color: #F4F8F9;
    padding-left: 20%;
    padding-right: 20%;
}

.BottomButtons{
    padding: 20px;
    display: flex;
    justify-content: center;
}