.textbookInfoBlock {
    background-color: #C4C4C4;
    height: 500px;
    width: 1250px;
    margin-top: 100px;
    margin-left: 100px;
    text-align: center;
    position:absolute;
}

.userInfoBlock {
    background-color: #C4C4C4;
    height: 500px;
    width: 1250px;
    margin-top: 100px;
    margin-left: 100px;
    text-align: center;
    position:absolute;
}

.textbookInfo{
    font-size: 18px;
    font-weight: normal;

}

.profileInfo{
   font-size: 18px;
    font-weight: normal;
}