.textbookInfoBlock {
    background-color: #f4f8f9;
    height: 250px;
    width: 80%;
    position:absolute;
    padding: 10px;
}

.userInfoBlock {
    padding: 10px;
    background-color: #f4f8f9;
    height: 300px;
    width: 80%;
    height: 250px;
}

.textbookInfo{
    font-size: 18px;
    font-weight: normal;

}

.profileInfo{
   font-size: 18px;
    font-weight: normal;
}

.content{
    padding-top: 20px;
    padding-left: 20px;
}

.textbookImg {
    height: 300px;
}