body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

code {
  font-family: "Roboto", sans-serif;
}

.floatLeft {
  float: left;
  margin-left: 0;
  margin-right: 20px;
}

.floatRight {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}

.centerChild {
  align-self: center;
}

.clickable:hover {
  cursor: pointer;
}
